---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="two-column-grid two-column-grid-equal">
			<section>
				<h1>Raconteur</h1>
				<p>
					Artist management and booking agency based in Cape Town, South Africa
				</p>
				<p>
					<span>Follow us: </span>
					<a href="" target="_blank">
						<span class="sr-only">Follow Raconteur on Instagram</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.5 6.5H17.51M7 2H17C19.7614 2 22 4.23858 22 7V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V7C2 4.23858 4.23858 2 7 2ZM16 11.37C16.1234 12.2022 15.9813 13.0522 15.5938 13.799C15.2063 14.5458 14.5931 15.1514 13.8416 15.5297C13.0901 15.9079 12.2384 16.0396 11.4078 15.9059C10.5771 15.7723 9.80976 15.3801 9.21484 14.7852C8.61992 14.1902 8.22773 13.4229 8.09407 12.5922C7.9604 11.7616 8.09207 10.9099 8.47033 10.1584C8.84859 9.40685 9.45419 8.79374 10.201 8.40624C10.9478 8.01874 11.7978 7.87659 12.63 8C13.4789 8.12588 14.2649 8.52146 14.8717 9.12831C15.4785 9.73515 15.8741 10.5211 16 11.37Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							
					</a>
				</p>
			</section>
			<section>
				<a href="/artists" class="button">
					<span>Our artists</span>
					<svg width="37" height="16" viewBox="0 0 37 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29 1L36 8M36 8L29 15M36 8H1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

				</a>
				<a href="/about" class="button">
					<span>About us</span>
					<svg width="37" height="16" viewBox="0 0 37 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29 1L36 8M36 8L29 15M36 8H1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

				</a>
				<a href="/booking" class="button">
					<span>Book an artist</span>
					<svg width="37" height="16" viewBox="0 0 37 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29 1L36 8M36 8L29 15M36 8H1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

				</a>
			</section>
		</main>
		<style>

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    paleturquoise 50%,
    paleturquoise 100%
  );
}


			main {
				align-items: center;
				max-width: 960px;
				margin: auto;
				height: 100vh;
				padding-inline: 5rem;
				gap: 15rem !important;
			}

			p {
				display: flex;
				flex-direction: column;
			}

			span {
				display: block;
			}

			a {
				display: flex;
			}
			.button {
				background-color: var(--block-bg);
				color: rgba(var(--black), 0.8);
				display: flex;
				justify-content: space-between;
				padding: 1rem 2rem;
				font-weight: 700;
				font-family: inherit;
				font-size: 1.25rem;
				margin-block-end: 2rem;
				border: none;
				cursor: pointer;
				letter-spacing: 1px;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				text-decoration: none;
				text-transform: uppercase;
				width: max-content;
				transition: all 0.25s ease;

				svg {
					transition: all 0.25s ease;
					transform: translateX(0);
				}
			}

			.button:hover {
				background-color: var(--block-hover);

				svg {
					transform: translateX(0.5rem);
				}
			}

		</style>
	</body>
</html>
